Package: com.yxh41.mapadkiller
Name: MapAdKiller
Version: 0.0.1
Architecture: iphoneos-arm64
Description: 高德/百度/腾讯地图 去开屏广告 + 首页banner + 广告SDK拦截（iOS 复刻，roothide）
Maintainer: yxh41
Author: yxh41
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 16.0)
